.page {
    padding-bottom: 2em;
    padding-left: 2em;
}

.pageTitle {
    text-indent: 2ex;
    font-family: 'Trebuchet MS';
}

.pageIcon {
    height: 5vmin;
    margin-right: 1ex;
}
  
.pageIcon {
    animation: icon-backflip;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: reverse;
    animation-play-state: paused;
}

.pageIcon:hover {
    animation-play-state: running;
}

@keyframes icon-backflip {
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pageText {
    text-indent: 3ex;
    column-count: 2;
}

.photo {
    margin-left: 2em;
    max-width: 100%;
    height: auto;
}

.things {    
    columns: 2;
}
