.page {
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.pageTitle {
    text-indent: 2ex;
    font-family: 'Trebuchet MS';
}

.pageIcon {
    height: 5vmin;
    margin-right: 1ex;
}
  
.pageIcon {
    animation: icon-backflip;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: reverse;
    animation-play-state: paused;
}

.pageIcon:hover {
    animation-play-state: running;
}

@keyframes icon-backflip {
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pageText {
    text-indent: 3ex;
    column-count: 2;
}

.things {    
    columns: 2;
}

/*
    Use the following format to style images with caption overlays
    If you want images of different sizes on different pages, specify 
    in the className, e.g. 'image-container-large'
    Or call it whatever you want and make a new tag below
    
      <div className='image-container'>
        <img src='IMAGE_NAME' className='image' alt='monk' />
        <div className='overlay'>
          <div className='caption'>
            INSERT_CAPTION
          </div>
        </div>
      </div>
*/

.image-container {
    position: relative;
    width: 50%;
}

.image-container-large {
    position: relative;
    width: 100%;
}

.image-container-small {
    position: relative;
    width: 25%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
}

.image-container:hover .overlay {
    opacity: 0.5;
}

.caption {
    color: white;
    position: relative;
    padding: 0.2em;
}
