.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: darkslategrey;
  text-align: left;
  font-family: 'Gill Sans';
}

.text {
  padding-left: 75px;
  font-size: 40px;
  color: burlywood;
  border-radius: 10px;
} 

.icon {
  float: left;
  padding-left: 10px;
  color: cadetblue;
}

.header:hover {
  background-color: burlywood;
  cursor: crosshair;
  transition-duration: 350ms;
}

.header:hover > .text {
  color: darkslategray
}

