.Registration-window {
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 900px;
    height: 600px;
    border-radius: 25px;
    text-align: center;
}

.Registration-background {
    background-color: blue;
}

.Adjacentboxes {
    align-items: start;
    width: 30%;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    margin: 5px;
}

.Fulllengthbox {
    width: 60%;
    height: 50px;
    border-radius: 25px;
    margin-top: 2%;
}

.SignUp {
    width: 40%;
    height: 50px;
    border-radius: 25px;
    margin-top: 2%;
    background-color: lightblue;
}