 
.footer {
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: darkslategrey;
    text-align: left;
    font-family: 'Gill Sans';
    flex: 1, 1, auto;
}

.footer-text {
    text-decoration: none;
    padding-left: 10px;
    font-size: 16px;
    color: burlywood;
}

.footer-text:hover {
    color: cadetblue;
}

.footer-icon {
    float: right;
    padding-right: 10px;
    color: cadetblue;
}
