 
.footer {
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: darkslategrey;
    text-align: left;
    font-family: 'Gill Sans';
}

.footer-text {
    padding-left: 10px;
    font-size: 16px;
    color: black;
}

.footer-text:hover {
    color: burlywood;
}

.footer-icon {
    float: right;
    padding-right: 10px;
    color: cadetblue;
}
